body{
  padding: 0 20vmin 0 20vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("https://images.pexels.com/photos/1843717/pexels-photo-1843717.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

h1{
  font-family: 'Permanent Marker', cursive;
  font-size: 8vmin;
  margin-top: -33vmin;
}

h2{
  font-family: 'Roboto Slab', serif;
}

h3{
  font-family: 'Ma Shan Zheng', cursive;
  color: rgb(186, 146, 100, 0.5);
  font-size: 18vmin;
  margin-top: 3vmin;
}

p{
  font-family: 'Roboto Slab', serif;
}

#info{
  font-size: 2.5vmin;
}

#subtitle{
  font-size: 4vmin;
}

#contentGrid{
  background-color: rgba(186, 146, 100,0.8);
  height: 50vmin;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.scrollmenu {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.3);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.contentItem{
  display: flex;
  flex-direction: column;
  margin: 0 2vmin 0 2vmin;
  padding: 2vmin;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.contentTitle{
  font-size: 3vmin;
}

.footerImageContainer{
  border-radius: 0.2vmin;
  width: 25vmin;
  height: 25vmin;
  overflow: hidden;
}

.footerImageContainer img {
  width: 100%;
  border-radius: 0.25vmin;
}
